<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="dotnet" arguments="PixelSnapshot.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess"/>
  </system.webServer>
  </location>
  <system.web>
    <compilation defaultLanguage="c#" tempDirectory="C:\Inetpub\vhosts\pixelsnapshot.com\tmp" />
  </system.web>
</configuration>