@charset "utf-8";html{overflow-x:hidden;height:100%;padding:0px;margin:0px}
body{background-color:#121212;height: 100%;font-size:14px;line-height:1.5;letter-spacing:0.5px;font-weight:400;font-family:'Anonymous Pro', monospace;}
h1,h2,h3,h4,h5,h6{font-weight:500;font-family:'Poppins';}
h1>a,h2>a,h3>a,h4>a,h5>a,h6>a{color:#111;text-decoration:none;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-ms-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;}
textarea, input, button{outline:none;}
:focus{outline-color:transparent;outline-style:none;}
h1>a:hover,h2>a:hover,h3>a:hover,h4>a:hover,h5>a:hover,h6>a:hover{color:#eb1010;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration{display:none;}