.svg{width:20px;height:20px;fill:currentcolor;}
.pxsnap_content{width:100%;height: 100vh;clear:both;float:left;}
a.pxsnap_animated_link{cursor:pointer;position:relative;text-decoration:none;color:#fff;border-bottom:none !important;}
a.pxsnap_animated_link:after{content:'';width:0;height:1px;position:absolute;bottom:-2px;left:100%;background-color:#fff;-webkit-transition:left .5s ease,width .5s ease;-moz-transition:left .5s ease,width .5s ease;-ms-transition:left .5s ease,width .5s ease;-o-transition:left .5s ease,width .5s ease;transition:left .5s ease,width .5s ease;}
a.pxsnap_animated_link:hover:after{width:100%;left:0;-webkit-transition:width .5s ease;-moz-transition:width .5s ease;-ms-transition:width .5s ease;-o-transition:width .5s ease;transition:width .5s ease;}
.pxsnap_wrapper_all{width:100%;float:left;height:auto;clear:both;}
.pxsnap_breadcrumbs{width:100%;clear:both;/*background-color:#f5f5f5*/;padding:68px 0px 67px 0px;}
.pxsnap_breadcrumbs_content{text-align:center;}
.pxsnap_breadcrumbs p{font-size:15px;letter-spacing:0px;line-height:1;color:#999;}
.pxsnap_breadcrumbs p a{text-decoration:none;color:#999;position:relative;}
.pxsnap_breadcrumbs p a:after{content:'';width:0;height:1px;position:absolute;bottom:-3px;left:100%;background-color:#555;-webkit-transition:left .5s ease,width .5s ease;-moz-transition:left .5s ease,width .5s ease;-ms-transition:left .5s ease,width .5s ease;-o-transition:left .5s ease,width .5s ease;transition:left .5s ease,width .5s ease;}
.pxsnap_breadcrumbs p a:hover:after{width:100%;left:0;-webkit-transition:width .5s ease;-moz-transition:width .5s ease;-ms-transition:width .5s ease;-o-transition:width .5s ease;transition:width .5s ease;}
.pxsnap_breadcrumbs p span{color:#eee;}
.pxsnap_page_hero{height: 100vh;background-image: url('../img/cover/landingPage.jpg');background-size: cover;background-position: center;display: flex;align-items: center;justify-content: center; color: white; font-size: 3rem; text-align: center;}
.pxsnap_page_content {
    height: 100vh;
    /* background: #f0f0f0; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }
.pxsnap_prevnext{width:100%;float:left;clear:both;height:auto;}
.prevnext_inner{width:100%;float:left;clear:both;height:auto;margin-bottom: 10%;}
.pxsnap_prevnext .arrow{width:50%;float:left;}
.pxsnap_prevnext .arrow .prev{width:100%;float:left;clear:both;text-align:right;border:1px solid #ccc;border-left-color:transparent;border-right-color:transparent;padding:64px 50px 70px 20px;height:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.pxsnap_prevnext .arrow .next{width:100%;float:left;clear:both;text-align:left;border:1px solid #ccc;border-right-color:transparent;padding:64px 20px 70px 50px;height:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.pxsnap_prevnext .arrow h3{margin:0px;font-size:24px;line-height:1;letter-spacing:0px;display:block;clear:both;color:#eee;}
.pxsnap_prevnext .arrow h3 a{text-decoration:none;}
.pxsnap_prevnext .arrow .pp{display:block;float:left;clear:both;margin-bottom:17px;width:100%;}
.pxsnap_prevnext .arrow p{display:inline-block;width:auto;}
.pxsnap_prevnext .arrow p svg{float:left;color:#fff;width:25px;height:25px;}
.pxsnap_prevnext .arrow p span{display:block;float:right;padding-left:30px;font-weight:500;letter-spacing:0px;color:#eee;font-size:15px;}
.pxsnap_prevnext .arrow .next p svg{float:left;-webkit-transform:rotate(180deg) translateZ(0);-moz-transform:rotate(180deg) translateZ(0);-ms-transform:rotate(180deg) translateZ(0);transform:rotate(180deg) translateZ(0);}
.pxsnap_prevnext .arrow .next p span{float:left;padding-left:0px;padding-right:30px;}
.mfp-fade.mfp-bg{opacity:0;-webkit-transition:all 0.15s ease-out;-moz-transition:all 0.15s ease-out;transition:all 0.15s ease-out;}
.mfp-fade.mfp-bg.mfp-ready{opacity:0.8;}
.mfp-fade.mfp-bg.mfp-removing{opacity:0;}
.mfp-fade.mfp-wrap .mfp-content{opacity:0;-webkit-transition:all 0.15s ease-out;-moz-transition:all 0.15s ease-out;transition:all 0.15s ease-out;}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content{opacity:1;}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content{opacity:0;}
.pxsnap_about{width:100%;float:left;height:100vh;clear:both;margin-top: 10%;}
.pxsnap_about_in{padding:93px 60px 0px 60px;width:100%;float:left;height:100vh;clear:both;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.pxsnap_about .about{width:100%;float:left;height:auto;clear:both;}
.pxsnap_page_splitscreen.page_about .pxsnap_page_splitleft .splitscreen_title_back .bg{background-image:url(../img/about.jpg);}
.pxsnap_about .title_holder{margin-bottom:61px;}
.pxsnap_about .title_holder h3{margin:0px;font-size:36px;line-height:1.3;letter-spacing:0px;color:#111;}
.pxsnap_about .info_holder{width:100%;float:left;height:auto;clear:both;margin-bottom:28px;}
.pxsnap_about .pxsnap_social_icons{margin-bottom:56px;}
.pxsnap_about .info_holder p{font-size:15px;line-height:1.5;letter-spacing:0px;color:#555;display:block;width:100%;margin-bottom:18px;}
.pxsnap_heroheader.page_contact .heroheader_content_inner{display:block;vertical-align:baseline;}
.pxsnap_heroheader.page_contact .pxsnap_breadcrumbs{background-color:transparent;}
.pxsnap_heroheader.page_contact .pxsnap_breadcrumbs p{color:#fff;}
.pxsnap_heroheader.page_contact .pxsnap_breadcrumbs p a:after{background-color:#fff;}
.pxsnap_heroheader.page_contact .heroheader_bg_wrap .overlay_image{background-image:url(../img/main_slider/1.jpg);}
.contact_form .empty_notice{color:#fff;display:none;position:relative;margin-bottom:30px;}
.contact_form .returnmessage{display:none;position:relative;}
.contact_form .returnmessage span{color:#009900;display:block;}
.contact_form .returnmessage span.contact_error{color:#F00;}
.pxsnap_heroheader.page_error .heroheader_content_inner{display:block;vertical-align:baseline;}
.pxsnap_heroheader.page_error .pxsnap_breadcrumbs{background-color:transparent;}
.pxsnap_heroheader.page_error .pxsnap_breadcrumbs p{color:#fff;}
.pxsnap_heroheader.page_error .pxsnap_breadcrumbs p a:after{background-color:#fff;}
.pxsnap_heroheader.page_error .heroheader_bg_wrap .overlay_image{background-image:url(../img/main_slider/1.jpg);}
.pxsnap_errorpage{width:100%;float:left;height:auto;background-color:transparent;clear:both;}
.pxsnap_errorpage_in{width:100%;float:left;height:auto;clear:both;}
.pxsnap_errorpage .errorpage{width:100%;float:left;padding:0px 30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.pxsnap_errorpage .title_holder{margin-top:2px;}
.pxsnap_errorpage .title_holder h3{margin:0px;font-size:36px;line-height:1.3;letter-spacing:0px;font-weight:400;color:#fff;margin-bottom:92px;}
.pxsnap_errorpage .title_holder h1{margin:0px;font-size:220px;line-height:1;letter-spacing:0px;color:#fff;font-weight:400;margin-bottom:0px;}
.pxsnap_errorpage .title_holder p{font-size:15px;letter-spacing:0px;line-height:1.3;color:#999;margin-bottom:30px;}

.pxsnap_social_icons > label{font-size:15px;letter-spacing:0px;line-height:40px;color:#444;font-weight:600;margin-right:20px;}
.pxsnap_social_icons > ul{display:inline-block;margin:0px;list-style-type:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.pxsnap_social_icons > ul > li{margin:0px;display:inline-block;margin-left:-3px;text-align:center;}
.pxsnap_social_icons > ul > li a{display:block;text-decoration:none;font-size:15px;letter-spacing:0px;color:#555;line-height:1;width:40px;padding:13px 0px 12px;height:40px;background-color:transparent;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-ms-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.pxsnap_social_icons > ul > li a.active,
.pxsnap_social_icons > ul > li a:hover{background-color:#ddd;}
.pxsnap_social_icons > ul > li a i{-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;}

.pxsnap_tags{width:100%;float:left;clear:both;height:auto;margin-bottom:6px;position:relative;}
.pxsnap_tags > label{position:absolute;top:0px;left:0px;font-size:15px;letter-spacing:0px;line-height:1;color:#444;font-weight:600;}
.pxsnap_tags > em{display:block;font-size:15px;line-height:1;letter-spacing:0px;margin-left:-1px;width:100%;padding-left:70px;color:#eb1010;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.pxsnap_tags > em a{text-decoration:none;display:inline-block;margin-left:7px;margin-bottom:8px;color:#eb1010;padding-bottom:3px;position:relative;}
.pxsnap_tags > em a:after{content:'';width:0;height:1px;position:absolute;bottom:-2px;left:100%;background-color:#eb1010;-webkit-transition:left .5s ease,width .5s ease;-moz-transition:left .5s ease,width .5s ease;-ms-transition:left .5s ease,width .5s ease;-o-transition:left .5s ease,width .5s ease;transition:left .5s ease,width .5s ease;}
.pxsnap_tags > em a:hover:after{width:100%;left:0;-webkit-transition:width .5s ease;-moz-transition:width .5s ease;-ms-transition:width .5s ease;-o-transition:width .5s ease;transition:width .5s ease;}
.pxsnap_social_icons{width:100%;float:left;clear:both;height:auto;position:relative;}

.pxsnap_pagination{width:100%;float:left;clear:both;text-align:center;margin-bottom: 6%;}
.pxsnap_pagination ul{list-style-type:none;}
.pxsnap_pagination ul li{margin:0px;display:inline-block;margin-left:-3px;text-align:center;}
.pxsnap_pagination ul li a{display:block;text-decoration:none;font-size:15px;letter-spacing:0px;color:#fff;line-height:1;width:40px;padding:13px 0px 12px;height:40px;background-color:transparent;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-ms-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.pxsnap_pagination ul li a.active,
.pxsnap_pagination ul li a:hover{background-color:dimgray;}
.pxsnap_pagination ul li.next a{background-color:transparent;width:auto;margin-left:12px;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}
a.totop{position:fixed;bottom:10px;right:24px;width:38px;height:38px;line-height:38px;color:#fffefe;z-index:1000;overflow:hidden;background:#111;-webkit-box-shadow:1px 1px 3px rgba(255, 255, 255, 0.3);-moz-box-shadow:1px 1px 3px rgba(255, 255, 255, 0.3);box-shadow:1px 1px 3px rgba(255, 255, 255, 0.3);opacity:0;visibility:hidden;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-ms-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;}
a.totop span.line{display:block;width:2px;height:24px;background-color:#fff;position:absolute;left:50%;margin-left:-1px;top:50%;margin-top:-12px;}
a.totop span.line:after{content:'';width:10px;height:2px;background-color:#fff;display:block;margin-top:2px;position:absolute;left:-1px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
a.totop span.line:before{content:'';width:10px;height:2px;background-color:#fff;display:block;margin-top:2px;position:absolute;left:-7px;-webkit-transform:rotate(135deg);-moz-transform:rotate(135deg);-ms-transform:rotate(135deg);transform:rotate(135deg);}
a.totop.opened{opacity:1;visibility:visible;bottom:30px;}
.pxsnap_wrapper_all[data-totop="on"] a.totop{display:block;}
.pxsnap_wrapper_all[data-totop="off"] a.totop{display:none;}
